
  .Control__link {
    margin-left: 2em;
  }
  
  .Article {
    display: flex;
    flex-direction: column;
    margin: 2em
  }
  
  .Article__item {
    margin: 0.5em;
  }
  
  button {
    width: 75px;
    margin: 0.5em;
  }